# vim turds
*.swp
tags
debian/.debhelper
debian/files
debian/source
debian/vector06sdl*
.gradle
android/build
*.os

# TrimUI Brick Pro port build artifacts
platform/trimui/build/
platform/trimui/release/
